&-slick {
    .item {
        .d-flex {
            justify-content: space-between;
        }
        &-description {
            width: 57%;
            background-color: $blue_lighter;
            border-radius: 10px;
            padding: 40px 30px;
            
            &-title {
                font-weight: 600;
                font-size: 24px;
                line-height: 29px;
                color: white;
            }
            &-text {
                font-weight: 400;
                font-size: 14px;
                line-height: 200%;
                color: white;
                text-align: justify;
            }
        }
        &-player {
            width: 40%;
            background-color: $blue_lighter;
            border-radius: 10px;
            padding: 35px;
            &-thumb {
                img {
                    width: 100%;
                }
            }
            &-name {
                h5 {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 100%;
                    color: white;
                    opacity: 0.7;
                }
                span {
                    font-weight: 500;
                    font-size: 36px;
                    line-height: 100%;
                    color: white;
                }
            }
            &-bottom {
                display: flex;
                justify-content: space-between;
                margin-top: 25px;
                h5 {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 100%;
                    color: white;
                    opacity: 0.7;
                }
                &-gols {
                    span {
                        font-weight: 900;
                        font-size: 48px;
                        line-height: 100%;
                        color: white;
                    }
                }
                &-times {
                    margin-top: 10px;
                    span {
                        display: flex;
                        img {
                            width: 32px;
                        }
                    }
                    
                }
            }
        }
    }
    .slick-dots {
        width: 100%;
        display: none;
        justify-content: center;
        margin-top: 20px;
        button {
            background: white;
        }

        li.slick-active {
            button {
                opacity: 0.7;
                width: 40px;
            }
        }
    }

    @media (max-width: 800px) { 
        .item {
            > .d-flex {
                flex-wrap: wrap;
            }
            &-description {
                width: 100%;
                &-text {
                    padding-bottom: 70px;
                    &.seemore-container {
                        overflow: hidden;
                        max-height: 1000px;
                        position: relative;
                    }
                    &.seemore-close {
                        padding-right: 0;
                        max-height: 350px;
                        min-height: 350px;
                        overflow: hidden;
                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            background: linear-gradient(180deg, rgba(11, 31, 151, 0) 0%, #0B1F97 78.65%);
                        }
                    }
                }
                &-button {
                    position: absolute;
                    left: 50%;
                    bottom: 20px;
                    transform: translate(-50%, 0);
                    z-index: 2;
                    border: none;
                    background: none;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 200%;
                    color: white;
                }
            }
            &-player {
                margin-top: 20px;
                width: 100%;
            }   
        }
    }
}

