.artilheiros {
    background-color: $blue_light;
    padding: 120px 0 140px 0;

    @import 'artilheiros/nav';
    @import 'artilheiros/slick';

    @media (max-width: 800px) { 
        padding: 30px 7px;
    }
}