.banners {
    padding: 75px 0 96px;
    &-left {
        padding: 0 10px 0 0;
    }
    &-right {
        padding: 0 0 0 10px;
        .d-flex {
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .banner {
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        &-row {
            display: flex;
            gap: 20px;
        }
        
        &-img {
            img {
                width: 100%;
            }
        }
        &-title {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 15px 30px;
            text-decoration: none;
            background-color: $blue_dark;
            &:hover  {
                background-color: #22E3C3;
                span {
                    color: $blue_dark;
                    opacity: 1;
                }
                i {
                    color: $blue_dark;
                }
            }
            span {
                font-weight: 500;
                color: #FFFFFF;
                opacity: 0.5;
            }
            i {
                display: block;
                width: 24px;
                height: 24px;
                color: #FFFFFF;
                background-color: aliceblue;
            }
        }
    }
    
}


@media (max-width: 800px) { 

    .banners {
        padding: 60px 0;
        &-left {
            padding: 0 25px;
        }
        &-right {
            padding: 0 25px;
            .banner { 
                margin-top: 10px;
            }
        }
        .banner {
            &-row {
                gap: 10px;
            }
        }
    }
}