.banners {
    padding: 75px 0 96px;

    
    .col-12 {

    }
    &-left {
        padding: 0 10px 0 0;
    }
    &-right {
        padding: 0 0 0 10px;
        .d-flex {
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .banner {
        width: 100%;
        background-color: $blue_dark;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        &-row {
            display: flex;
            gap: 20px;
        }
        img {
            width: 100%;
        }
        a {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 15px 30px;
            text-decoration: none;
            span {
                font-weight: 500;
                color: #FFFFFF;
                opacity: 0.5;
            }
            i {
                display: block;
                width: 24px;
                height: 24px;
                background-color: aliceblue;
            }
        }
    }
    
}


@media (max-width: 800px) { 

    .banners {

    }
}