.campeoes {
    padding: 60px 0 50px;
    background: $blue_light;

    &-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: white;
    }
    &-description {
        margin-top: 20px;
        width: 85%;
        p {
            font-weight: 400;
            font-size: 12px;
            line-height: 200%;
            margin-top: 0;
            color: white;
        }
    }
    &-times {
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        .item {
            
            &-escudo {
                
                

            }
            &-title {
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;
                text-align: center;
                color: white;
                margin-top: 10px;
            }
        }
    }
}

@media (max-width: 800px) { 

    .campeoes {
        &-title {
            padding: 0 20px;

        }
        &-description {
            padding: 0 20px;
            margin-top: 20px;
            width: 100%;
            p {
                font-size: 13px;
            }
        }
        &-times {
            flex-wrap: nowrap;
            overflow-x: scroll;
            margin: 20px 0 -10px 0  ;
            .item {
                margin-right: 25px;

                &-escudo {
    
                }
                &-title {

                }
            }
        }
    }
}

/* Escudos */
.campeoes {
    &-times {
        .item {
            padding:  0;
            display: block;
            width: 80px;
            
            &-escudo {
                padding: 0;
                min-width: 75px;
                max-width: 75px;
                min-height: 75px;
                border-radius: 50%;
                background-color: white;
                position: relative;
                img {
                    width: 100%;
                    &.origin {
                        transform: scale(0.85);
                    }
                }   
            }
        }
    }
}