.curiosidade {
    padding: 85px 0 60px;
    background-color: #E0E0E0;
    .container {
        padding: 0;
    }
    &-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: $blue_light;
    }
    &-slick {
        margin-top: 35px;
        .contain {
            display: flex !important;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 20px;
            gap: 20px;
        }
        .item {
            max-width: 93%;
            margin-bottom: 20px;
            background-color: white;
            padding: 17.5px;
            border-radius: 10px;
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
            
            &-img {
                &-escudo {
                    width: 130px;
                    height: 130px;
                    margin: 0 auto;
                }
                img {
                    display: block;
                }
            }
            &-title {
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                text-transform: uppercase;
                color: #262626;
                padding: 0 20px;
            }
            p {
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;
                color: black
            }
        }
    }

    .slick-dots {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
        button {
            background: #000;
        }

        li.slick-active {
            button {
                opacity: 0.7;
                width: 40px;
            }
        }
    }

}

@media (max-width: 800px) { 

    .curiosidade {
        padding: 45px 0 50px;
        &-title {
    
        }
        &-slick {
            margin-top: 25px;
            
            .contain {
                flex-wrap: wrap;
            }
            .item {
                max-width: 100%;
                margin-bottom: 20px;
                &-img {
                    width: 85px;
                    height: 85px;
                    float: left;
                    margin-right: 10px;
                    &-escudo {
                        width: 85px;
                        height: 85px;
                    }
                    img {
                        display: block;
                    }
                }
                &-title {
                    text-align: left;
                    font-weight: 900;
                }
                p {
                    
                    b {
                        font-weight: 900;
                    }
                }
            }
        }
    }
}