.historia {
    padding: 80px 0 60px;
    background-color: #F1F1F1;
    
    &-title {
        display: none;
    }
    &-slick {
        
        .item {
            &-img {
                width: 95%;
                border-radius: 10px;
            }
            &-text {
                font-weight: bold;
                font-size: 16px;
                line-height: 19px;
                color: $blue_release;
            }
            &-title {
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                color: $blue_light;
            }
            &-description {
                max-height: 310px;
                overflow-y: scroll;
                p {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 170%;
                    color: black;
                }
        
            }
        }

        .slick-dots {
            width: 41.66666667%;
            button {
                background: $blue_light;
            }

            li.slick-active {
                button {
                    opacity: 0.7;
                    width: 40px;
                }
            }
        }

    }
    
}

@media (max-width: 800px) { 

    .historia {
        padding: 20px 20px 50px 20px;
        &-title {
            font-weight: 600;
            font-size: 22px;
            line-height: 26px;
            color: $blue_release;
            display: block;
        }
        &-slick {
            
            .item {
                &-img {
                    width: 100%;
                    
                }
                &-text {
                    display: none;
                }
                &-title {
                    margin-top: 30px;
                }
                &-description {
                    max-height: auto;
                    overflow-y: scroll;
                    margin-top: 20px;
                    p {
                        margin: 5px 0;
                        font-size: 15px;
                    }
                    &.seemore-container {
                        overflow: hidden;
                        max-height: 1000px;
                        position: relative;
                    }
                    &.seemore-close {
                        padding-right: 0;
                        max-height: 260px;
                        min-height: 260px;
                        overflow: hidden;
                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            background: linear-gradient(180deg, rgba(241, 241, 241, 0) 0%, #F1F1F1 78.65%);
                            //background: linear-gradient(to top, #E7E7E7 0%,rgba(225,225,225,.4) 50%,rgba(225,225,225,0) 100%);
                        }
                    }
                    &-button {
                        position: absolute;
                        left: 50%;
                        bottom: 20px;
                        transform: translate(-50%, 0);
                        z-index: 2;
                        border: none;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 200%;
                        color: $blue_dark;
                    }
                }
            }
            .slick-dots {
                width: 100%;
                justify-content: center;
            }
        }
    }
}