* {
    font-family: 'Gotham';
}

$green_acqua: #22E3C3;
$blue_release: #0E3AFF;
$blue_dark: #0A0961;
$blue_light: #020987;
$blue_lighter: #0B1F97;

.slick-dots {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 41.66666667%;
    margin-top: -30px;
    button {
        font-size: 0;
        width: 20px;
        height: 5px;
        border-radius: 4px;
        border: 0;
        margin: 0 5px;
        outline: none;
        transition: all .2s ease;
        
        opacity: 0.25;
    }

    li.slick-active {
        button {
            opacity: 0.7;
            width: 40px;
        }
    }
}


.home-newsletter {
    margin: 20px 0;
    border-radius: 10px;
    background: #F4F5F8;

    .msg {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
    .form-control {
        padding: 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #747474;
        opacity: 0.8;
        border: 1px solid #192C53;
    }
    .type_EMAIL {
        margin-top: 8px;
    }
    .invi-select {
        margin-top: 12px;
    }
    .btn {
        margin-top: 12px;
        background-color: #192C53;
        color: white;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        padding: 8px;
    }
}