* {
    font-family: 'Gotham';
}

$green_acqua: #22E3C3;
$blue_release: #0E3AFF;
$blue_dark: #0A0961;
$blue_light: #020987;
$blue_lighter: #0B1F97;

.slick-dots {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 41.66666667%;
    margin-top: -30px;
    button {
        font-size: 0;
        width: 20px;
        height: 5px;
        border-radius: 4px;
        border: 0;
        margin: 0 5px;
        outline: none;
        transition: all .2s ease;
        
        opacity: 0.25;
    }

    li.slick-active {
        button {
            opacity: 0.7;
            width: 40px;
        }
    }
}
