.topo {
    background-image: url('../../../img/topo/topo_desk.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 130px 0 150px 1px;


    &-logo {
        width: 221px;
        img {
            width: 221px;
        }
    }

    &-title {
        margin-top: 30px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        color: white;
        width: 80%;
    }
    &-description {
        margin-top: 20px;
        font-weight: 300;
        font-size: 13px;
        line-height: 150%;
        color: white;
    }

    &-down {
        width: 100%;
        display: block;
        position: relative;
        bottom: -100px;
        a {
            &:hover {
                text-decoration: none;
            }
            i {
                display: block;
                margin: 0 auto;
                color: white;
                font-size: 40px;
                text-align: center;
            }
        }
        
    }
}

@media (max-width: 800px) {

    .topo {
        background-image: url('../../img/topo/topo_mob.jpg');
        padding: 40px 15px ;
        &-logo {
            width: 160px;
            margin: 0 auto;
            display: block;
            img {
                width: 160px;
            }
        }
    
        &-title {
            text-align: center;
            width: 100%;
        }
        &-description {
            text-align: left;
            font-size: 14px;
        }
    
        &-down {
            bottom: 0;
        }
    }

    
}