.uniformes {
    padding: 60px 0 100px;
    background-color: $blue_dark;

    &-slick {

        .item {
            &-title {
                margin-top: 20px;
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                color: white;
            }
            &-time {
                margin-top: 40px;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: $green_acqua;
            }
            &-description {
                p {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 200%;
                    color: white;
                }
            }
            &-img {
                img {
                    width: 100%;
                }
            }
        }
        .slick-dots {
            width: 41.66666667%;
            float: left;
            button {
                background: white;
            }

            li.slick-active {
                button {
                    opacity: 0.7;
                    width: 60px;
                }
            }
        }
    }
    @media (max-width: 800px) { 
        padding: 40px 0 50px;

        &-slick {
            .item {
                padding: 0 10px;
                .col-12.col-md-5 {
                    order: 1;
                }

                &-img {
                    margin-top: 20px;
                }
            }
            .slick-dots {
                width: 100%;
                justify-content: center;
                margin-top: 10px;
    
                li.slick-active {
                    button {
                        opacity: 0.7;
                        width: 60px;
                    }
                }
            }
        }
    }
}


